@charset "UTF-8";

@media screen and (min-width: 768px) and (max-width: 980px){
    section.img{
        background-color: blue;
    }    
}

@media screen and (min-width: 980px){
    section.img{
        background-color: red;
    }
    
    span#burger{
        display: none;
    }

    ul > li > a{
        display: inline-block;
        text-decoration: none;
        color: black;
        padding: 10px;
        line-height: 2em;
    }
}